.numberSetOption {
  cursor: pointer;
  color: #333;
  padding: 8px 20px;
  font-size: 0.8em;
  font-weight: 500;
  letter-spacing: 0.5px;
  border-right: 4px solid transparent;
}

.numberSetOption.active {
  color: #8a00f3;
  border-color: #8a00f3;
}