.nav {
  list-style: none;
  margin: 0;
  padding: 15px;
  display: flex;
  flex: 0 0 auto;
}

.nav > li a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: #333;
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: bold;
  letter-spacing: -0.5px;
  border-radius: 8px;
}

.nav > li a.active {
  background: #8a00f3;
  color: #fff;
}

.App {
  display: flex;
  /* background: #FAF8FC; */
  flex: 1 1 auto;
  overflow: auto;
}

.leftBar {
  display: flex;
  flex: 0 0 auto;
  background: #fff;
  padding: 10px;
}

.mainBar {
  padding: 25px;
  flex: 1 1 auto;
  overflow: auto;
  background: #f3f3f3;
  border-top-left-radius: 20px;
}

@media screen and (max-width: 480px) {
  .App, .leftBar {
    flex-direction: column;
  }

  .leftBar {
    padding: 0;
  }

  .mainBar {
    margin: 10px;
    padding: 10px;
  }
}